language: php

cache:
  directories:
    - "$HOME/.composer/cache"
    - vendor

php:
  - 7.4
  - 8.0

before_install:
  - travis_retry composer self-update
  - nvm install 14

install:
  - travis_retry composer install --dev --no-interaction

script:
  - php vendor/bin/phpunit --coverage-clover .build/clover.xml


after_success:
    - travis_retry php vendor/bin/php-coveralls

jobs:
  include:
    - stage: deploy
      script: |
        yarn install
        yarn run docs:build      
      deploy:
        provider: pages
        skip_cleanup: true
        github_token: $GITHUB_TOKEN
        local_dir: .build
        target_branch: gh-pages
        on:
          branch: master
          
env:
  global:
    - secure: "O3xXEXYYyc5LJz8ThRRis4IoTVuMqBAgAvoLi1CDqRDk1D4RwtDeDgFyA04EuqJOGwFxY2OvD3tF/vFGvBbk7MKCbJ2NxnqxzWOoVtA/rBLXla81N2jVpVDTfCuGgSriOuC0QZbfH1vexfGHs0wigaDoZhuDKa30If7BjF+L7nx5DPtaBGzGNnuJJwiXSuWFT8AelbtgZYmvE9rXSzZF6OUKI4fJAvPFHyIW380H6uf1MAhM3oAg10xlkBbHb8hresOSQsa8ZTpyaK59j6UjGy20lAYpXLpyQUu3emCGiy3NuHt0X7hTTn3Ik6IfSZHrLWznqaHUj+iDgvnLeVjV/f8vffuK8CKAkQvvhNRI5qKyALSG+X21xaNf2hD3fbw8pvsD4OEnjQybyW197O2rE/2P2rPtM1A87w8GKN31XPFusnSngk0aFHtin2Vi4Mb2R7OCYpgXpLdZq7nZmM48/VUsb1LjUePmOqsWEhEnmmFBKQUCjjM+BC1Aras41Fa+mHGVbJOZzh1nlNnyvPRQTNj/6EqqVoFC2jutxGwvP2eK2JTSWeJaLe8+691fS0KKDVn/OwWPxD/z0HlqFwbUznfIEQDH/IJKM6nHVjtEN6m0XxwoNi6UKp0BAT2nl5fVOluCTilXDWQKP01OIhWoYmg9ybvWgfob5E3Q8u0xUOk="
